$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);


@media only screen and (min-width:769px){
    body{
        font-size: 1.2rem;
        font-family: public;
    }
    header{
        // background-color: skyblue;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin:0px auto;
        padding: 20px 0px;
        align-items: center;
        button{
            margin: 0px;
        }
        ul~button,ul{
            display: flex;
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            // border-radius: 5px;
            // position: absolute;
            // top: 70px;
            // left: 50%;
            // transform: translate(-50%,0px);
            // background: blue;
            // height: 40%;
            // width: 90%;
            // padding: 20px 0px;
            z-index: 10;
            // opacity: 0;
            // transition: opacity 1s linear 1s;
            // cursor: normal;
            
            
            
            li{
                list-style-type: none;
                text-align: center;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                    cursor: pointer;
                    margin: 10px;
                }
                a:visited,a:hover,a:active{
                    color: $LimeGreen;
                }
                
            }

        }
        ul.open{
            display: none;
            opacity: 1;
            // z-index: 10;   
        }
        
        .menu{
            display: none;
            align-items: center;
            cursor: pointer;
            // #menu-close{
            //     display: none;
            // }
            // #menu-close.open{
            //     display: flex;
            // }
            // #menu-open.open{
            //     display: none;
            // }
        }

    }
    main{
      
        img{
            width: 100%;
            height: auto;
        }
        display: grid;
        grid-template-columns: auto;
        // grid-template-rows: repeat(4,auto);
        height: auto;
        .cont.first{
            // background: $GrayishBlue; 
            display: flex;
            flex-direction: row-reverse;
            grid-auto-rows: 0px;
            align-items: center;
            height: auto;
            overflow-x: hidden;
            // background: blue;
            .bg{
                // display: flex;
                // align-items: cent;
                width: 100%;
                height: auto;
                // background: brown;
                background-image: url("/images/bg-intro-desktop.svg");
                background-repeat: no-repeat;
                background-position: -150% -220%;
                // transform: scaleX(-1);
                // background-size: contain;
                background-size: 120% 90%;
                img{
                    width: 94.5%;
                    height: auto;
                    position: relative; 
                    margin: 0px auto;
                    top:-65px;
                    right:-50%;
                    transform: translate(-1px,0px);
                    // background: black;
                    clip-path: inset(65px 0px 0px 0px);
                    // visibility: hidden;
                    
                    
                    
                }
            } 
            .wrapper{
                display: flex;
                flex-direction: column;
                // background-color: blue;
                margin-bottom: 150px;
                width: 85%;
                align-items: flex-start;
                margin-left: 5%;
                h1{
                    font-size: 2rem;
                    text-align: left;
                    color: black;
                    width:95%;
                }
                span{
                    font-size: 1rem;
                    margin-top: 20px;
                    text-align: left;
                    color: $GrayishBlue;
                }
               
            }
        }
        .second{
            display:grid;
            grid-template-columns: repeat(4,auto);
            grid-column-gap:15px;
            // grid-template-rows: 1fr 1fr ;
            background: $VeryLightGray;
            justify-content: center;
            width: 90%;
            margin: 0px auto 100px;
            // background: blue;
            z-index: 11;
            // height: 300px;
            // flex-direction: row;
            
            .choose{
                grid-column: 1/6;
                height: auto;
                text-align: left;
                margin-bottom: 50px;
                width: 60%;
                // justify-self:;
                h2{
                    font-size: 1.5rem;
                    // width: 50%;
                    margin:  20px auto;
                }
                span{
                    font-size: 01rem;
                    color: $GrayishBlue;
                    
                }
            }
            .reason{
                margin: 20px 0px;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                
                .bold{
                    font-weight: 700;
                    margin: 20px 0px;
                }
                .text{
                    font-size: 1rem;
                    text-align: left;
                    font-weight: 300;
                    color: $GrayishBlue;
                }
            }
        }
        .third{
            display: grid;
            grid-template-columns: repeat(5,auto);
            // flex-direction: column;
            width: 90%;
            margin:auto;
            // grid-column-gap:15px;
            // background: #ffc0cb;
            // align-items:;
            // justify-content: space-around;
            h2{
                grid-column: 1/6;
                padding: 20px;
                font-size: 1.4rem;
                font-weight:300;
            }
            figure{
                width: 95%;
                margin:20px 0px;
                figcaption{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 0 auto;
                    line-height: 22px;
                    .small{
                        font-size:0.7rem;
                        padding: 10px 0px;
                    }
                    .link a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: black;
                        &:hover{
                            color:$LimeGreen;
                        }   
                    }
                    // .link a:visited{
                    //     color: $LimeGreen;
                    // }
                    span{
                        font-size: 0.8rem;
                        margin: 10px 0px;
                        color: $GrayishBlue;
                    }
                }
            }
        }
        footer{
            width: 100%;
            background: $DarkBlue;
            display:flex;
            flex-direction: column;
            align-items: center;
            .darkblue{
                // background-color: blue;
                width: 90%;
                margin: 50px auto 30px;
                display: grid;
                // flex-direction: row;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap:20px;
                grid-template-rows: 1fr;
                align-items: center;
                justify-content: space-between;
                .easy{
                    height: 110px;
                    // background: blue;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    .comp{
                        width: 160px;
                        padding: 0px ;
                        img{
                            background-color: white;
                        }
                    }
                    .social-icons{
                        display: flex;
                        align-items: center;
                        img{

                            margin:10px;
                            cursor:pointer;
                            &:hover{
                               background: $LimeGreen; 
                            }
                        }
                    }
                }
                .footer-links{
                    margin: 0px 0px 0px 0px;
                    ul{
                        text-align:left;
                        display:grid;
                        grid-template-columns: 1fr 1fr ;
                        grid-template-rows: repeat(3,auto) ;
                        li{
                            list-style: none;
                            // background: red;
                            padding: 5px 0px;
                            a{
                                text-decoration: none;
                                color: white;
                                font-size: 0.8rem;
                            
                            }
                            a:hover,a:active{
                                color:$LimeGreen;
                            }
                        }
                    }
                }
                .button{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: auto;
                    .copy{
                        color: white;
                        font-size: 0.7rem;
                        font-family: Arial;
                        font-weight: 100 ;
                        margin-bottom: 50px;
                    }
                }
                
                 
            }
            .attribution { 
                font-size: 0.8rem; 
                text-align: center; 
                color: $GrayishBlue;
                margin-bottom: 20px;
                a { 
                    color: $BrightCyan; 
                    font-size: .8rem;
                }
            }
        }
    }

}
button{
    margin: 30px 0px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 0.9rem;
    background-image: linear-gradient(to right, $LimeGreen, $BrightCyan);
    cursor: pointer;
    &:hover{
        // background: $LimeGreen;
        opacity:0.8;
    }
}
@media only screen and (min-width: 600px){
    button{
        padding: 10px 20px;
        font-size: 0.7rem;
    }
    
}