@media only screen and (min-width: 769px) {
  body {
    font-size: 1.2rem;
    font-family: public;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header button {
    margin: 0px;
  }
  header ul ~ button, header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 10;
  }
  header ul li {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }
  header ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
  }
  header ul li a:visited, header ul li a:hover, header ul li a:active {
    color: #31d35c;
  }
  header ul.open {
    display: none;
    opacity: 1;
  }
  header .menu {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
  }
  main img {
    width: 100%;
    height: auto;
  }
  main .cont.first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    grid-auto-rows: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    overflow-x: hidden;
  }
  main .cont.first .bg {
    width: 100%;
    height: auto;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: -150% -220%;
    background-size: 120% 90%;
  }
  main .cont.first .bg img {
    width: 94.5%;
    height: auto;
    position: relative;
    margin: 0px auto;
    top: -65px;
    right: -50%;
    -webkit-transform: translate(-1px, 0px);
            transform: translate(-1px, 0px);
    -webkit-clip-path: inset(65px 0px 0px 0px);
            clip-path: inset(65px 0px 0px 0px);
  }
  main .cont.first .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 150px;
    width: 85%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 5%;
  }
  main .cont.first .wrapper h1 {
    font-size: 2rem;
    text-align: left;
    color: black;
    width: 95%;
  }
  main .cont.first .wrapper span {
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
    color: #9698a6;
  }
  main .second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-column-gap: 15px;
    background: #fafafa;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0px auto 100px;
    z-index: 11;
  }
  main .second .choose {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    height: auto;
    text-align: left;
    margin-bottom: 50px;
    width: 60%;
  }
  main .second .choose h2 {
    font-size: 1.5rem;
    margin: 20px auto;
  }
  main .second .choose span {
    font-size: 01rem;
    color: #9698a6;
  }
  main .second .reason {
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .second .reason .bold {
    font-weight: 700;
    margin: 20px 0px;
  }
  main .second .reason .text {
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
    color: #9698a6;
  }
  main .third {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    width: 90%;
    margin: auto;
  }
  main .third h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 300;
  }
  main .third figure {
    width: 95%;
    margin: 20px 0px;
  }
  main .third figure figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
    line-height: 22px;
  }
  main .third figure figcaption .small {
    font-size: 0.7rem;
    padding: 10px 0px;
  }
  main .third figure figcaption .link a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
  }
  main .third figure figcaption .link a:hover {
    color: #31d35c;
  }
  main .third figure figcaption span {
    font-size: 0.8rem;
    margin: 10px 0px;
    color: #9698a6;
  }
  main footer {
    width: 100%;
    background: #2d314d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main footer .darkblue {
    width: 90%;
    margin: 50px auto 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main footer .darkblue .easy {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main footer .darkblue .easy .comp {
    width: 160px;
    padding: 0px;
  }
  main footer .darkblue .easy .comp img {
    background-color: white;
  }
  main footer .darkblue .easy .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main footer .darkblue .easy .social-icons img {
    margin: 10px;
    cursor: pointer;
  }
  main footer .darkblue .easy .social-icons img:hover {
    background: #31d35c;
  }
  main footer .darkblue .footer-links {
    margin: 0px 0px 0px 0px;
  }
  main footer .darkblue .footer-links ul {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  main footer .darkblue .footer-links ul li {
    list-style: none;
    padding: 5px 0px;
  }
  main footer .darkblue .footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }
  main footer .darkblue .footer-links ul li a:hover, main footer .darkblue .footer-links ul li a:active {
    color: #31d35c;
  }
  main footer .darkblue .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
  }
  main footer .darkblue .button .copy {
    color: white;
    font-size: 0.7rem;
    font-family: Arial;
    font-weight: 100;
    margin-bottom: 50px;
  }
  main footer .attribution {
    font-size: 0.8rem;
    text-align: center;
    color: #9698a6;
    margin-bottom: 20px;
  }
  main footer .attribution a {
    color: #2bb7da;
    font-size: .8rem;
  }
}

button {
  margin: 30px 0px;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 0.9rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {
  button {
    padding: 10px 20px;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=desktop.css.map */