$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

@font-face{
    font-family: public;
    src: url("/fonts/PublicSans-VariableFont_wght.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.2rem;
}


@media only screen and (max-width:768px){
    body{
        font-size: 1.2rem;
        font-family: public;
    }
    header{
        // background-color: skyblue;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin:0px auto;
        padding: 20px 0px;
        align-items: center;

        ul~button,ul{
            display: none;
        }
        ul{
            display: none;
            visibility: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translate(-50%,0px);
            background: $VeryLightGray;
            height: 45%;
            width: 90%;
            padding: 20px 0px;
            z-index: 10;
            opacity: 0;
            // transition: opacity 1s linear 1s;
            // cursor: normal;
            
            
            
            li{
                list-style-type: none;
                text-align: center;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                    cursor: pointer;
                }
                a:visited,a:hover,a:active{
                    color: $LimeGreen;
                }
                
            }

        }
        ul.open{
            display: flex;
            opacity: 1;
            // z-index: 10;   
        }
        
        .menu{
            display: flex;
            align-items: center;
            cursor: pointer;
            #menu-close{
                display: none;
            }
            #menu-close.open{
                display: flex;
            }
            #menu-open.open{
                display: none;
            }
        }

    }
    main{
        .cover{
            position: absolute;
            display: flex;
            // background: pink;
            background-image: linear-gradient(to bottom, $DarkBlue,white);
            width: 100%;
            height:90%;
            opacity: 0;
            z-index: 9;
            transition: height,opacity 1s ease-out 0.1s;
            
        }
        .cover.open{
            opacity: 0.8;
            display:flex;
            height:190%;
            // z-index:9;
        }
      
        img{
            width: 100%;
            height: auto;
        }
        display: grid;
        grid-template-columns: auto;
        // grid-template-rows: repeat(3,1fr);
        
        height: auto;
        .cont{
            // background: $GrayishBlue; 
            display: flex;
            flex-direction: column;
            grid-auto-rows: 0px;
            align-items: center;
            height: auto;
            .bg{
                // display: flex;
                // align-items: cent;
                width: 100%;
                height: auto;
                // background: brown;
                background-image: url("/images/bg-intro-mobile.svg");
                background-repeat: no-repeat;
                background-position: top right;
                background-size: contain;
                background-size: 100% 80%;
                img{
                    width: 94.5%;
                    height: auto;
                    position: relative; 
                    margin: 0px auto;
                    top:-135px;
                    left: 12px;
                    transform: translate(-1px,0px);
                    // background: black;
                    clip-path: inset(135px 0px 0px 0px);
                    
                    
                }
            } 
            .wrapper{
                display: flex;
                flex-direction: column;
                // background-color: blue;
                margin-bottom: 150px;
                width: 85%;
                align-items: center;
                h1{
                    font-size: 2rem;
                    text-align: center;
                    color: black;
                }
                span{
                    font-size: 1rem;
                    margin-top: 20px;
                    text-align: center;
                    color: $GrayishBlue;
                }
               
            }
        }
        .second{
            background: $VeryLightGray;
            justify-content: center;
            width: 90%;
            margin: 0px auto 100px;
            
            .choose{
                text-align: center;
                margin-bottom: 50px;
                h2{
                    font-size: 1.5rem;
                    width: 50%;
                    margin:  20px auto;
                }
                span{
                    font-size: 01rem;
                    color: $GrayishBlue;
                    
                }
            }
            .reason{
                margin: 20px auto;
                display:flex;
                flex-direction: column;
                align-items: center;
                
                .bold{
                    font-weight: 700;
                    margin: 20px;
                }
                .text{
                    font-size: 1rem;
                    text-align: center;
                    font-weight: 300;
                    color: $GrayishBlue;
                }
            }
        }
        .third{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                padding: 20px;
                font-size: 1.4rem;
                font-weight: 300;
                padding-left: 0px;
            }
            figure{
                width: 85%;
                margin:30px 0px;
                figcaption{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                    line-height: 22px;
                    .small{
                        font-size:0.7rem;
                        padding: 10px 0px;
                    }
                    .link a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: black;
                        &:hover{
                            color:$LimeGreen;
                        }   
                    }
                    // .link a:visited{
                    //     color: $LimeGreen;
                    // }
                    span{
                        font-size: 0.8rem;
                        margin: 10px 0px;
                        color: $GrayishBlue;
                    }
                }
            }
        }
        footer{
            width: 100%;
            background: $DarkBlue;
            .darkblue{
                // background-color: blue;
                width: 85%;
                margin: 100px auto 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .easy{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .comp{
                        width: 80%;
                        padding: 30px 0px 20px;
                        img{
                            background-color: white;
                        }
                    }
                    .social-icons{
                        display: flex;
                        align-items: center;
                        img{
                            margin:10px;
                            cursor:pointer;
                            &:hover{
                               background: $LimeGreen; 
                            }
                        }
                    }
                }
                .footer-links{
                    margin: 10px 0px 0px;
                    ul{
                        text-align:center;
                        li{
                            list-style: none;
                            padding: 5px 0px;
                            a{
                                text-decoration: none;
                                color: white;
                                font-size: 0.8rem;
                            
                            }
                            a:hover,a:active{
                                color:$LimeGreen;
                            }
                        }
                    }
                }
                .button{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    .copy{
                        color: white;
                        font-size: 0.7rem;
                        font-family: Arial;
                        font-weight: 100 ;
                        margin-bottom: 50px;
                    }
                }
                
                 
            }
            .attribution { 
                font-size: 0.8rem; 
                text-align: center; 
                color: $GrayishBlue;
                margin-bottom:20px;
                a { 
                    color: $BrightCyan; 
                    font-size: .8rem;
                }
            }
        }
    }

}
button{
    margin: 30px 0px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 0.9rem;
    background-image: linear-gradient(to right, $LimeGreen, $BrightCyan);
    cursor: pointer;
    &:hover{
        // background: $LimeGreen;
        opacity:0.8;
    }
}